.logo-sm {
    height: 42px;
}

.dropdown-item {
    transition: all 0.1s ease !important;
}

.dropdown-item:hover {
    background-color: darkblue !important;
    font-weight: bold;
}

@media (max-width: 506px) {
    .container-fluid a {
        font-size: 75%;
    }
}

@media (max-width: 391px) {
    .container-fluid a {
        font-size: 55%;
    }
}