<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nav class="navbar sticky-top navbar-expand-lg bg-primary-subtle shadow">
  <div class="container-fluid">

    <button class="navbar-toggler ms-2 d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" (click)="onToggleSidebar()">
      <i class="bi bi-list"></i>
    </button>

    <a [routerLink]="['/']"
      class="navbar-brand fst-italic text-dark fw-bold text-center d-flex align-items-center justify-content-start ">
      <img src="assets/images/logo.png" alt="logo-small" class="img-fluid logo-sm bg-transparent px-3">
      Company Management System
    </a>

    <div ngbDropdown display="dynamic">
      <button ngbDropdownToggle class="btn dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-person-lines-fill fs-4"></i>
      </button>
      <ul ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu dropdown-menu-start bg-primary">
        <li>
          <a href="#" class="dropdown-item text-white">
            <i class="bi bi-person"></i>
            My profile
          </a>
        </li>
        <li>
          <a href="#" class="dropdown-item text-white">
            <i class="bi bi-building"></i>
            My company
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a (click)="logout()" href="" class="dropdown-item text-white">
            <i class="bi bi-box-arrow-right"></i>
            Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>